<configuration>

    <property name="LOG_PATTERN"
              value="%date  %highlight(%-5level) [%thread] %cyan(%-40.40logger{40}) : %msg %n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <appender name="STASH" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logs_dir:-.}/logback/productService.today.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logs_dir:-.}/logback/productService.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="STASH" />
    </root>

</configuration>